{% extends "basic.html" %}
{% load static %}
{% block title %}About Us{% endblock title %}
{% block body %}
<!-- code for about us page -->
<section class="about section" style="background-color: #ffcccc;">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<img class="img-responsive" src="{% static "images/about/about1.jpg" %}">
			</div>
			<div class="col-md-6">
				<h2 class="mt-40">About Us</h2>
				<p>At Holistic Skincare, we're passionate about natural beauty and wellness. Our mission is simple: to provide you with effective, ethical, and sustainable skincare solutions. </p>
				<p>We believe in the power of nature to nourish and rejuvenate your skin, while also prioritizing environmental sustainability in everything we do. Join us on our journey to healthier, happier skin – naturally.</p>
				<a href="/contact" class="btn btn-main mt-20">Download Company Profile</a>
			</div>
		</div>
		<div class="row mt-40">
			<div class="col-md-3 text-center">
				<img src="{% static "images/about/award.png" %}">
			</div>
			<div class="col-md-3 text-center">
				<img src="{% static "images/about/award.png" %}">
			</div>
			<div class="col-md-3 text-center">
				<img src="{% static "images/about/award.png" %}">
			</div>
			<div class="col-md-3 text-center">
				<img src="{% static "images/about/award.png" %}">
			</div>
		</div>
	</div>
</section>
<section class="team-members ">
	<div class="container">
		<div class="row">
			<div class="title"><h2>Team Members</h2></div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="team-member text-center">
					<img class="img-circle" src="{% static "images/team/av-1.png" %}">
					<h4>Jonathon Andrew</h4>
					<p>CEO</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="team-member text-center">
					<img class="img-circle" src="{% static "images/team/av-1.png" %}">
					<h4>Adipisci Velit</h4>
					<p>Regional Manager</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="team-member text-center">
					<img class="img-circle" src="{% static "images/team/av-4.jpg" %}">
					<h4>John Fexit</h4>
					<p>Shop Manager</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="team-member text-center">
					<img class="img-circle" src="{% static "images/team/av-4.jpg" %}">
					<h4>John Fexit</h4>
					<p>Shop Manager</p>
				</div>
			</div>
		</div>
	</div>
</section>


<div class="section video-testimonial bg-1 overly-white text-center mt-50">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Video presentation</h2>
				<a class="play-icon" href="https://www.youtube.com/watch?v=oyEuk8j8imI&amp;rel=0" data-toggle="lightbox">
					<i class="tf-ion-ios-play"></i>
				</a>
			</div>
		</div>
	</div>
</div>


{% endblock body %}
