{% extends "basic.html" %}
{% load static %}
{% block title %}HolistSkin Hub{% endblock title %}
{% block hero %}
<div class="hero-slider">
  <div class="slider-item th-fullpage hero-area" style="background-image: url({% static "../static/images/slider/slider2.jpg" %});">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 text-center">
          <p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1"></p>
          <h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">Welcome to HolistSkin<br> Find the best products for your skin</h1>
          <a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn" href="/shop">Shop Now</a>
        </div>
      </div>
    </div>
  </div>
  <div class="slider-item th-fullpage hero-area" style="background-image: url({% static "../static/images/slider/slider3.jpg" %});">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 text-left">
          <p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1"></p>
          <h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5"> Welcome to HolistSkin <br>Discover your Hidden beauty.</h1>
          <a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn" href="/shop">Shop Now</a>
        </div>
      </div>
    </div>
  </div>
  <div class="slider-item th-fullpage hero-area" style="background-image: url({% static "../static/images/slider/slider1.jpg" %});">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 text-right">
          <p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1"></p>
          <h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">Welcome to HolistSkin <br> Reveling Gods beauty.</h1>
          <a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn" href="/shop">Shop Now</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock hero %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="title text-center">
        <h2>Product Category</h2>
      </div>
    </div>
    <div class="col-md-6">
      <div class="category-box">
        <a href="#!">
          <img src="{% static "images/shop/category/gal-1.jpg" %}" alt="" />
          <div class="content">
            <h3>Skincare Sales</h3>
            <p>Shop New Season bady &amp; Face lotion</p>
          </div>
        </a>	
      </div>
      <div class="category-box">
        <a href="#!">
          <img src="{% static "images/shop/category/gal-3.jpg" %}" alt="" />
          <div class="content">
            <h3>Face-care Sales</h3>
            <p>Get the best natural face cream</p>
          </div>
        </a>	
      </div>
    </div>
    <div class="col-md-6">
      <div class="category-box category-box-2">
        <a href="#!">
          <img src="{% static "images/shop/category/gaL-2.jpg" %}" alt="" />
          <div class="content">
            <h3>Spot Free</h3>
            <p>Special package Comes First</p>
          </div>
        </a>	
      </div>
    </div>
  </div>
</div>
</section>

<section class="products section bg-gray">
<div class="container">
  <div class="row">
    <div class="title text-center">
      <h2>Trendy Products</h2>
    </div>
  </div>
  <div class="row">
    
    <div class="col-md-4">
      <div class="product-item">
        <div class="product-thumb">
          <span class="bage">Sale</span>
          <img class="img-responsive" src="{% static "images/shop/products/tp-9.avif" %}" alt="product-img" />
          <div class="preview-meta">
            <ul>
              <li>
                <span  data-toggle="modal" data-target="#product-modal">
                  <i class="tf-ion-ios-search-strong"></i>
                </span>
              </li>
              <li>
                            <a href="#!" ><i class="tf-ion-ios-heart"></i></a>
              </li>
              <li>
                <a href="#!"><i class="tf-ion-android-cart"></i></a>
              </li>
            </ul>
                      </div>
        </div>
        <div class="product-content">
          <h4><a href="/product_single">Herballeef skin </a></h4>
          <p class="price">$200</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="product-item">
        <div class="product-thumb">
          <img class="img-responsive" src="{% static "images/shop/products/tp-3.avif" %}" alt="product-img" />
          <div class="preview-meta">
            <ul>
              <li>
                <span  data-toggle="modal" data-target="#product-modal">
                  <i class="tf-ion-ios-search-strong"></i>
                </span>
              </li>
              <li>
                            <a href="#" ><i class="tf-ion-ios-heart"></i></a>
              </li>
              <li>
                <a href="#!"><i class="tf-ion-android-cart"></i></a>
              </li>
            </ul>
                      </div>
        </div>
        <div class="product-content">
          <h4><a href="/product_single">Herbal Glowing </a></h4>
          <p class="price">$200</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="product-item">
        <div class="product-thumb">
          <img class="img-responsive" src="{% static "images/shop/products/tp-2.avif" %}" alt="product-img" />
          <div class="preview-meta">
            <ul>
              <li>
                <span  data-toggle="modal" data-target="#product-modal">
                  <i class="tf-ion-ios-search-strong"></i>
                </span>
              </li>
              <li>
                            <a href="#" ><i class="tf-ion-ios-heart"></i></a>
              </li>
              <li>
                <a href="#!"><i class="tf-ion-android-cart"></i></a>
              </li>
            </ul>
                      </div>
        </div>
        <div class="product-content">
          <h4><a href="/product_single">Black and Smooth</a></h4>
          <p class="price">$230</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="product-item">
        <div class="product-thumb">
          <img class="img-responsive" src="{% static "images/shop/products/tp-8.avif" %}" alt="product-img" />
          <div class="preview-meta">
            <ul>
              <li>
                <span  data-toggle="modal" data-target="#product-modal">
                  <i class="tf-ion-ios-search-strong"></i>
                </span>
              </li>
              <li>
                            <a href="#" ><i class="tf-ion-ios-heart"></i></a>
              </li>
              <li>
                <a href="#!"><i class="tf-ion-android-cart"></i></a>
              </li>
            </ul>
                      </div>
        </div>
        <div class="product-content">
          <h4><a href="/product_single">Blend Trunning</a></h4>
          <p class="price">$200</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="product-item">
        <div class="product-thumb">
          <img class="img-responsive" src="{% static "images/shop/products/tp-4.avif" %}" alt="product-img" />
          <div class="preview-meta">
            <ul>
              <li>
                <span  data-toggle="modal" data-target="#product-modal">
                  <i class="tf-ion-ios-search-strong"></i>
                </span>
              </li>
              <li>
                            <a href="#" ><i class="tf-ion-ios-heart"></i></a>
              </li>
              <li>
                <a href="#!"><i class="tf-ion-android-cart"></i></a>
              </li>
            </ul>
                      </div>
        </div>
        <div class="product-content">
          <h4><a href="/product_single">True SkinGlow</a></h4>
          <p class="price">$200</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="product-item">
        <div class="product-thumb">
          <img class="img-responsive" src="{% static "images/shop/products/tp-7.avif" %}" alt="product-img" />
          <div class="preview-meta">
            <ul>
              <li>
                <span  data-toggle="modal" data-target="#product-modal">
                  <i class="tf-ion-ios-search-strong"></i>
                </span>
              </li>
              <li>
                            <a href="#" ><i class="tf-ion-ios-heart"></i></a>
              </li>
              <li>
                <a href="#!"><i class="tf-ion-android-cart"></i></a>
              </li>
            </ul>
                      </div>
       </div>
        <div class="product-content">
          <h4><a href="/product_single">Reveling Beauty</a></h4>
          <p class="price">$200</p>
        </div>
      </div>
    </div>
{% endblock body %}

